@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Ysabeau+Office:wght@500&display=swap');

*{
    font-family: 'Freehand', cursive;
    font-family: 'Ysabeau Office', sans-serif;
}

.bannerBgImage{
    height: 100vh  ;
    background: url("images/bannerimage.jpg");
    background-size: cover;
    position: relative;
}
.bannerText{
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.bannerTitle{
    font-size: 4rem;
}
.bannerDesc{
    font-size: 2rem;
}
.card {
    cursor:pointer;
}
.card:hover{
    background-color:#ffe4c4;
    border: 2px solid #000000;
}
.bIcon{ 
    width: 100px; 
    text-align:center; 
    font-size: 40px; 
} 

.img-fluid:hover{
    border: 2px solid black;
}
